.menubar-box {
  width: 100%;
  background: #E8E8E8;
  list-style: none;
  height: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  font-size: 13px;
}
.menubar-box li {
  position: relative;  
  display: inline-block;
  height: 100%;
  line-height: 25px;
}
 .menubar-submenu {
  z-index: 1;
  opacity: 0; 
  position: absolute;   
} 

.menubar-active .menubar-label:hover > .menubar-submenu{
  display: block;  
  opacity: 1;
}

